<!DOCTYPE html>
<html>
  <head>
    <title>RailsEnterpriseSso</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'toast', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "toast", media: "all", "data-turbo-track" => "reload"  %>
  </head>

  <body>
  <header>
      <nav class="border-gray-200 px-4 py-4 shadow leading-6">
        <div class="max-w-7xl mx-auto">
          <ul class="flex gap-4">
            <li>
              <%=  link_to 'Home', root_path , class: 'font-normal text-gray-900'%>
            </li>
            <li>
               <%=  link_to 'Setup SSO', setup_sso_path , class: 'font-normal text-gray-900'%>
            </li>
            <% if current_user %>
            <li>
             <%=  link_to 'Profile', profile_path , class: 'font-normal text-gray-900'%>
            </li>
            <li class="ml-auto">
              <%=  link_to 'Log out', logout_path, method: :delete %>
            </li>
            <%# omniauth %>
            <% elsif omniauth_user %>
            <li>
             <%=  link_to 'Profile', omniauth_profile_path , class: 'font-normal text-gray-900'%>
            </li>
            <li class="ml-auto">
              <%=  link_to 'Log out', omniauth_logout_path, method: :delete %>
            </li>            
            <% else %>
             <li>
             <%=  link_to 'Login', login_path , class: 'font-normal text-gray-900', data: { turbolinks: "false" }%>
            </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>
    <main class="h-[calc(100vh-56px)]">
      <%= render partial: 'shared/toast'  %>
      <%= yield %>
    </main>
  </body>
</html>
